/* web-site-1 */
/* Mobile-version */
@media screen and (max-width: 767px) {
  /* header */
  .header-contents {
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
  }
  .head-text-box {
    color: white;
    width: 100%;
    text-align: center;
  }
  .head-image {
    width: 70%;
    margin: 0 auto;
  }
  /* middle-part */
  .mid-container {
    width: 80%;
    margin: 4% auto;
    display: flex;
    flex-direction: column;
  }
  .match-events {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    width: 20%;
    height: 300px;
    margin: 0 70px;
  }
  .event-btn {
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px;

    text-decoration: none;
    text-align: center;
    color: black;
    border: 2px solid rgb(234, 234, 234);
    background-color: transparent;
  }
  #active {
    background-color: rgb(255, 4, 4);
    color: white;
  }
  .matches-info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px 30px;
  }
  .foot-links {
    margin: 0 auto;
  }
  .foot-links ul {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .foot-links ul li {
    margin-left: 0px;
  }
  /* web-site-2 */
  .matches-chart {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px 30px;
  }
}
