@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:ital,wght@0,300;0,400;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}
/* header-start */
.header-container {
  width: 80%;
  min-height: 50vh;
  background-color: black;
  margin: 3% auto;
  padding: 2%;
  border: none;
  border-radius: 20px;
}
.header-contents {
  display: flex;
  flex-direction: row;
}
.head-image {
  width: 40%;
  margin-left: 15%;
}
.head-image img {
  width: 100%;
  height: 100%;
  margin-top: 27px;
}
.head-text-box {
  color: white;
  width: 40%;
}
.head-text-box h1 {
  font-size: 40px;
}
.head-btn {
  margin-top: 20px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 30px;
}
.fa-greater-than {
  font-size: 10px;
}

/* matches */
.mid-container {
  width: 80%;
  margin: 4% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.match-events {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  width: 20%;
  height: 300px;
  padding: 10px 20px;
  border-radius: 20px;
}
.match-events a:hover {
  color: rgb(250, 0, 0);
}
.event-btn {
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  color: black;
  background-color: gainsboro;
}
#active {
  background-color: rgb(255, 4, 4);
  color: white;
}
.matches-info {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 30px;
}
.live-match {
  box-shadow: 10px 10px 10px rgb(238, 238, 238);
  border-radius: 10px;
  border: 1px solid rgb(236, 236, 236);
}
.match-img img {
  width: 100%;
}
.match-text-box {
  margin: 5px;
}
.match-text-box h2 {
  font-size: 15px;
}
.match-btn {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  font-weight: 800;
}
.match-btn:hover {
  background-color: red;
  color: white;
  border: 1px solid white;
}
.match-icon {
  margin: 5px;
}
/* footer */
footer {
  width: 100%;
  height: 50%;
  background-color: black;
}
.foot-heading {
  width: 80%;
  border-bottom: 1px solid gray;
}
.foot-heading,
.foot-links,
.foot-icons {
  margin: 0 auto;
  text-align: center;
  color: white;
  padding: 3%;
}
.foot-links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.foot-links ul li {
  list-style: none;
  display: block;
  margin-left: 30px;
}
.foot-links ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.fa-brands {
  margin-right: 10px;
  font-size: 20px;
  transition: color 0.3s;
}
.fa-brands:hover {
  color: #fb5200;
}
/* web-site-2 */
.matches-chart {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 30px;
}
.m-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.match-img-1 img {
  width: 100%;
}
.match-img-2 img {
  width: 100%;
}
.m-images span {
  font-size: 15px;
  font-weight: bold;
  display: block;
  margin: 20px;
}
.match-box {
  box-shadow: 10px 10px 10px rgb(238, 238, 238);
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgb(236, 236, 236);
}
.match-text-box-2 {
  text-align: center;
  font-size: 15px;
}
