@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:ital,wght@0,300;0,400;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}
/* header-start */
.header-container {
  width: 80%;
  min-height: 50vh;
  background-color: black;
  margin: 3% auto;
  padding: 2%;
  border: none;
  border-radius: 20px;
}
.header-contents {
  display: flex;
  flex-direction: row;
}
.head-image {
  width: 40%;
  margin-left: 15%;
}
.head-image img {
  width: 100%;
  height: 100%;
  margin-top: 27px;
}
.head-text-box {
  color: white;
  width: 40%;
}
.head-text-box h1 {
  font-size: 40px;
}
.head-btn {
  margin-top: 20px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 30px;
}
.fa-greater-than {
  font-size: 10px;
}

/* matches */
.mid-container {
  width: 80%;
  margin: 4% auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.match-events {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  width: 20%;
  height: 300px;
  padding: 10px 20px;
  border-radius: 20px;
}
.event-btn {
  font-size: 18px;
  border-radius: 10px;
  padding: 8px;
}
#active {
  background-color: rgb(255, 4, 4);
  color: white;
}
.matches-info {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 30px;
}
.live-match {
  box-shadow: 10px 10px 10px rgb(238, 238, 238);
  border-radius: 10px;
}
.match-img img {
  width: 100%;
}
.match-text-box {
  padding: 10px;
}
